/* ========================================================================== 
    Admin Dashboard SCSS 
========================================================================== */

/* Variables */
$primary-color: #00ab9f;
$secondary-color: #34495e;
$bg-light: #f7f7ff;
$text-dark: #333;
$white: #fff;

/* General Styles */
body {
  background-color: $bg-light;
  font-family: 'Arial', sans-serif;
  color: $text-dark;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}




/* Main Content */
.dashboard-container {
  margin-left: 250px;
  padding: 30px;

  .dashboard-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .card {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;

    .card-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .card-content {
      font-size: 14px;
    }
  }
}

