/* ===================================== Header Styles ====================================== */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1089;
  border: none;
  margin-bottom: 0;
  height: 65px;
  background-color: #00ab9f; /* Primary color */
}

.navbar .navbar-header {
  z-index: 10;
  background: #ffffff;
  border-bottom: 1px solid #c8c7cc;
  position: relative;
  height: 65px;
}

.navbar .navbar-header a {
  line-height: 65px;
  height: 65px;
}

.navbar .navbar-header .navbar-brand {
  padding: 0 15px;
  font-size: 24px;
  color: #000;
}

.navbar .navbar-header .navbar-brand img {
  display: inline-block;
  margin-top: -6px;
}

.navbar .navbar-header .menu-toggler {
  margin-right: 60px;
  padding: 0 15px;
  font-size: 17px;
  color: #c8c7cc;
}

.navbar .navbar-header .sidebar-toggler {
  font-size: 17px;
  padding-right: 15px;
  color: #c8c7cc;
}

.navbar .navbar-header .sidebar-toggler:hover {
  color: #aeacb4;
}

.navbar .navbar-header .sidebar-mobile-toggler {
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px;
  color: #c8c7cc;
}

.navbar .navbar-header .sidebar-mobile-toggler:hover {
  color: #aeacb4;
}

.navbar .navbar-collapse {
  border-bottom: 1px solid #c8c7cc;
  background: #ffffff;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.navbar .navbar-collapse .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-collapse .nav-item {
  padding: 0 15px;
}

.navbar .navbar-collapse .nav-link {
  font-size: 16px;
  color: #444;
  text-transform: uppercase;
  padding: 10px 15px;
}

.navbar .navbar-collapse .nav-link:hover {
  color: #00ab9f;
  background-color: rgba(0, 173, 162, 0.1);
}

.navbar .navbar-right {
  display: flex;
  align-items: center;
}

.navbar .navbar-right .dropdown-menu {
  background-color: #ffffff;
  color: #000;
}

.navbar .navbar-right .dropdown-menu li a {
  color: #00ab9f;
  padding: 10px 15px;
}

.navbar .navbar-right .dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.navbar .navbar-right .dropdown-menu li a .icon {
  margin-right: 10px;
}

/* Mobile Navigation */
@media (max-width: 767px) {
  .navbar .navbar-header .menu-toggler {
    display: block;
  }

  .navbar .navbar-collapse {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    background-color: #ffffff;
  }

  .navbar .navbar-collapse.in {
    display: block;
  }

  .navbar .navbar-collapse .nav-item {
    display: block;
    text-align: center;
  }

  .navbar .navbar-collapse .nav-item a {
    padding: 15px 0;
  }

  .navbar .navbar-collapse .nav-item a:hover {
    background-color: #00ab9f;
    color: white;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
