/* Basic styles for the page */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7ff;
  font-family: 'Arial', sans-serif;
}

.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.highlight {
  color: #00ab9f;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  padding-left: 40px; /* Space for the icons */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.input:focus {
  border-color: #00ab9f;
  outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #00ab9f;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #00ab9f;
  cursor: pointer;
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
}

.forgot-password a {
  color: #00ab9f;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: #00ab9f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:disabled {
  background-color: #b5f0e7;
  cursor: not-allowed;
}

.btn-submit.loading {
  background-color: #00a8b5;
}

.btn-submit:hover:not(:disabled) {
  background-color: #007f7d;
}

.new-account {
  margin-top: 20px;
  font-size: 14px;
}

.new-account a {
  color: #00ab9f;
  text-decoration: none;
}

.new-account a:hover {
  text-decoration: underline;
}
